<body class="d-flex h-100 text-center text-white bg-dark min-vh-100">
<div class="container-fluid d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
        <div>
            <h3 class="float-md-start mb-0">Packages</h3>
        </div>
    </header>

    <main class="py-3">
        <div class="row">
            <div class="col-6 text-start">

                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio0" value="all" checked [(ngModel)]="searchRequestForm.method">
                    <label class="btn btn-outline-light" for="btnradio0">All</label>
                    
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" value="name" [(ngModel)]="searchRequestForm.method">
                    <label class="btn btn-outline-light" for="btnradio1">Name</label>
                  
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" value="author" [(ngModel)]="searchRequestForm.method">
                    <label class="btn btn-outline-light" for="btnradio2">Author</label>
                  
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" value="organisation" [(ngModel)]="searchRequestForm.method">
                    <label class="btn btn-outline-light" for="btnradio3">Organisation</label>
                </div>

                <form class="input-group mt-3" (ngSubmit)="searchPackages()">
                    <input class="dark-border form-control bg-dark text-white mr-sm-2" placeholder="Start typing..."
                           type="search" aria-label="Search" [(ngModel)]="searchRequestForm.query" name="query">
                    <button class="btn btn-light px-5" type="submit">Search</button>
                </form>
            </div>

            <div class="col-6 text-end">
                <button class="btn btn-success px-5" data-bs-toggle="modal" data-bs-target="#createPackageModal">Create
                    package
                </button>

                <div class="modal modal-lg" id="createPackageModal" tabindex="-1" aria-labelledby="createPackageModal"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content bg-dark">
                            <div class="modal-header">
                                <h5 class="modal-title">Creating a new package</h5>
                                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <form (ngSubmit)="addPackage()" (change)="isFormValid()">
                                <div class="modal-body align-content-start text-start">
                                    <label for="packageName">Package name</label><br>
                                    <input class="dark-border form-control mt-2 bg-dark text-white" type="text"
                                        id="packageName" name="packageName" placeholder="Package name" [(ngModel)]="addPackageForm.name"><br>

                                    <label for="packageName">Author</label><br>
                                    <input class="dark-border form-control mt-2 bg-dark text-white" type="text"
                                        id="author" name="author" placeholder="Author" [(ngModel)]="addPackageForm.author"><br>

                                    <label for="packageName">Organisation</label><br>
                                    <input class="dark-border form-control mt-2 bg-dark text-white" type="text"
                                        id="organisation" name="organisation" placeholder="Organisation" [(ngModel)]="addPackageForm.organisation"><br>

                                    <label for="githubUrl">Github URL<span class="color-red">*</span></label><br>
                                    <input class="dark-border form-control mt-2 bg-dark text-white" type="text"
                                        id="githubUrl" name="githubUrl"
                                        placeholder="https://github.com/AlexSpelt/BoatloadR" [(ngModel)]="addPackageForm.githubRepo">
                                    <p class="small pt-3"><span class="color-red">*</span> If a Github URL is unavailable, a
                                        local file can be uploaded.</p>

                                    <label for="formFile" class="form-label">Upload local file</label>
                                    <input class="form-control dark-border bg-dark text-white-50" type="file" id="formFile"
                                        webkitdirectory mozdirectory name="filePath" [(ngModel)]="addPackageForm.filePath"><br>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary px-5" data-bs-dismiss="modal">Close
                                    </button>
                                    <button type="submit" class="btn btn-success px-5" [ngClass]="{ 'disabled': !formValid }" data-bs-dismiss="modal">Create package</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 py-5">
                <table class="table table-dark table-group-divider">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Package</th>
                        <th scope="col">Version</th>
                        <th scope="col">Author</th>
                        <th scope="col">Organisation</th>
                        <th scope="col">Installed</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let package of packageList; index as i">
                        <th scope="row">{{ i + 1 }}</th>
                        <td>{{ package.$name }}</td>
                        <td>{{ package.$version }}</td>
                        <td>{{ package.$author }}</td>
                        <td>{{ package.$organisation }}</td>
                        <td>{{ package.$isInstalled ? 'Yes' : 'No' }}</td>
                        <td>
                            <div class="btn-group">
                                <button class="btn btn-sm btn-light me-1 px-4" type="submit">
                                    <i class="bi bi-pen"></i>
                                </button>
                                <button class="btn btn-sm btn-danger px-4" type="submit" (click)="removePackage(package.$name)">
                                    <i class="bi bi-x-circle"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</div>
</body>