/* START SCROLLBAR */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #212529;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* END SCROLLBAR */

/* START NAVBAR */
.navbar-bg-darker {
  background-color: #1d2024;
}
/* END NAVBAR */

/* START MAIN ELEMENTS */
.dark-border {
  border: 2px solid #373b3e !important;
}
/* END MAIN ELEMENTS */

.modal-header, .modal-footer {
  border-top: none !important;
  border-bottom: none !important;
}